*{
    margin: 0;
    padding: 0;
}
body{
    width: 100%;
    text-align: center;
    font-family: 'Roboto Condensed', sans-serif;
    -webkit-tap-highlight-color: transparent;
    -o-tap-highlight-color: transparent;
    -moz-tap-highlight-color: transparent;
}
.box-contain{
    max-width: 768px;
    margin: 0 auto;
}

.up {
    position: fixed;
    bottom: 65px;
    right: 10px;
    width: 45px;
    height: 45px;
    border-radius: 30px;
    background: rgba(101, 3, 181,.7);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 3;
    &:active {
        display: flex;
    }
    &:hover {
        background-color: rgba(101, 3, 181,.7);
    }
    & a{
        color: #fff;
    }
    @media screen and (min-width:768px){
        bottom: 65px;
        right: 35px;
        width: 65px;
        height: 65px;
        border-radius: 35px;
        font-size: 25px;
    }
}
