.form{
    position: relative;
    width: 85%;
    background-color: #fff;
    margin: 0 auto;
    border-radius: 7px;
    z-index: 2;
    padding-top: 15px 0;
   

    &__title{
        color:rgb(95, 25, 164);
        padding: 15px 0 0 0;
        

        @media screen and (min-width:768px)
        {
            font-size: 40px;
            padding-top: 30px;
        }
    }

    &__text{
        color:rgb(95, 25, 164);
        margin-bottom: 10px;
        font-weight: 300;

        @media screen and (min-width:768px)
        {
            font-size: 25px;
            margin: 15px 0 30px 0;
            line-height: 24px;
        }
    }

    &__input {
        width: 75%;
        height: 2rem;
        border: 1px solid lightgray;
        margin: 10px auto;
        font-size: 15px;
        font-weight: 300;
        padding-left: 10px;
        font-family: 'Roboto Condensed', sans-serif;
        background-color: #F9F7F9;
        color: gray;
        border-radius: 4px; 
        @media screen and (min-width:768px){
            font-size: 25px;
            height: 3rem;
        }
         
    }
    & textarea{
        width: 76%;
        height: 3.5rem;
        border: 1px solid lightgray;
        margin: 10px auto;
        padding: 10px 0 0 10px;
        font-family: 'Roboto Condensed', sans-serif;
        background-color: #F9F7F9;
        font-size: 15px;
        font-weight: 300;
        color: gray; 
        border-radius: 4px;
        @media screen and (min-width:768px){
            font-size: 25px;
            height: 4.5rem;
        }
    }
    & button{
        width: 70%;
        height: 2rem;
        background-color: rgb(95, 25, 164);
        border-radius: 4px;
        color: white;
        font-size: 15px;
        @media screen and (min-width:768px){
            width: 75%;
            height: 3rem;
            font-size: 21px;
            border-radius: 7px;
        }
    }
}
.declaration__text{
    font-size: 11px;
    line-height: 10px;
    color: #c3c7c9;
    width: 60%;
    text-align: justify;
    margin-left: 26%;
    margin-top: -33px;
    font-weight: 200;
    @media screen and (min-width:768px){
        width: 65%;
        font-size: 18px;
        line-height: 16px;
        margin-left: 23%;
        margin-top: -43px;
        margin-bottom: 20px;
    }
}
.declarations{
    position: relative;
    margin: 33px 0 0 0;
    box-sizing: border-box;
}
#declaracion{
    position: absolute;
    top: 35%;
    left: 15%;
}
label{
    font-size: 1.5em;
    color:rgb(95, 25, 164);
  }
  
  input[type=checkbox]{
    display: none; /*solo se esconde para tener un campo personalisado*/
  }
  
  input[type=checkbox] + label{
    cursor:pointer;
  }/*esta linea significa esto + el siguiente elemento*/
  
  label:before{
    content:'';
    content: '';
    background: transparent;
    border: 1px solid #5f19a4;
    border-radius: 25px;
    display: inline-block;
    height: 21px;
    width: 22px;
    padding-top: 2px;
    margin-left: -180px;
    text-align: center;
    vertical-align: middle;
    
  }
  input[type=checkbox]:checked + label:before{
    content: '✔';
    font-size: 17px;
    font-family:'Times New Roman';
    color:rgb(95, 25, 164);
  }


