.form{
    position: relative;
    width: 90%;
    background-color: #fff;
    margin: 0 auto;
    border-radius: 7px;
    z-index: 2;
    padding: 0 0 30px 0;
    -webkit-box-shadow: -1px 2px 19px -2px rgba(0,0,0,0.57);
    -moz-box-shadow: -1px 2px 19px -2px rgba(0,0,0,0.57);
    box-shadow: -1px 2px 19px -2px rgba(0,0,0,0.57);
    @media screen and (min-width:768px){
        width: 90%;
    }
    @media screen and (min-width:1400px){
        width: 65%;
    }
   
    &__title{
        color:rgb(95, 25, 164);
        padding: 28px 0 5px 0;

        @media screen and (min-width:768px)
        {
            font-size: 30px;
            padding-top: 20px;
        }
    }

    &__text{
        color:rgb(95, 25, 164);
        margin-bottom: 10px;
        font-weight: 300;

        @media screen and (min-width:768px)
        {
            font-size: 20px;
            margin: 0 0 20px 0;
            line-height: 20px;
        }
        @media screen and (min-width:1400px){
            font-size: 26px;
            line-height: 25px;
        }
    }

    &__input {
        width: 90%;
        height: 2rem;
        border: 1px solid lightgray;
        margin: 10px auto;
        font-size: 15px;
        font-weight: 300;
        padding-left: 10px;
        font-family: 'Roboto Condensed', sans-serif;
        background-color: #F9F7F9;
        color: gray;
        border-radius: 4px; 
        @media screen and (min-width:768px){
            font-size: 17px;
            height: 2rem;
            width: 90%;
        }
         
    }
    & textarea{
        width: 90%;
        height: 3.5rem;
        border: 1px solid lightgray;
        margin: 10px auto;
        padding: 10px 0 0 10px;
        font-family: 'Roboto Condensed', sans-serif;
        background-color: #F9F7F9;
        font-size: 15px;
        font-weight: 300;
        color: gray; 
        border-radius: 4px;
        @media screen and (min-width:768px){
            font-size: 17px;
            height: 3.5rem;
            width: 90%;
        }
    
    }
    & button{
        width: 90%;
        height: 2rem;
        background-color: rgb(95, 25, 164);
        border-radius: 4px;
        color: white;
        font-size: 15px;
        @media screen and (min-width:768px){
            width: 92%;
            height: 2.5rem;
            font-size: 20px;
            border-radius: 8px;
        }
    }
}
.declaration__text{
    font-size: 12px;
    line-height: 10px;
    color: gray;
    width: 87%;
    text-align: justify;
    margin-left: 16%;
    font-weight: 200;
    @media screen and (min-width:768px){
        width: 83%;
        font-size: 12px;
        line-height: 11px;
        margin-left: 10%;
        padding-top: 1.5%;
    }
    @media screen and (min-width:769px){
        margin-left: 13%;
        font-size: 12px;
        padding-top: 0%;
    }
   
}
.box-declarations{
    position: relative;
    margin: 0px auto;
    width: 70%;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    @media screen and (min-width:768px){
        width: 90%;
    }
}
.declaration {
    position: relative;

    & label {
    cursor: pointer;
    }
    & label:before, & label:after {
        content: '';
        position: absolute;
        top: 41%;
        border-radius: 50%;
        
    }
    & label:before {
        left: 8px;
        top: 19px;
        width: 26px;
        height: 26px;
        margin: -14px 0px 0 -7px;
        background: #f7f7f7;
        border: 2px solid rgb(95, 25, 164);
        align-content: center;
        @media screen and (min-width:768px){
            margin: -18px 0 0 12px;
        }
        @media screen and (max-width:769px){
            margin: -14px 0 0 3px;
        }
    }
    & label:after {
        left: 13px;
        top: 19px;
        width: 20px;
        height: 20px;
        margin: -9px 0px 0 -7px;
        opacity: 0;
        background: rgb(95, 25, 164);
        @media screen and (min-width:768px){
            margin: -13px 0 0 12px;
        }
        @media screen and (max-width:769px){
            margin: -9px 0 0 3px;
        }
    }
    & input[type="checkbox"] {
        position: absolute;
        top: 0;
        left: -9999px;
        visibility: hidden;
    }
    & input[type="checkbox"]:checked + label:after {
        opacity: 1;
        transition: all .5s;
    }
}



