.form{
    position: relative;
    width: 85%;
    background-color: #fff;
    margin: 0 auto;
    border-radius: 7px;
    z-index: 2;
    padding-top: 15px 0;
   

    &__title{
        color:rgb(95, 25, 164);
        padding: 15px 0 0 0;
        

        @media screen and (min-width:768px)
        {
            font-size: 45px;
        }
    }

    &__text{
        color:rgb(95, 25, 164);
        margin-bottom: 10px;
        font-weight: 300;

        @media screen and (min-width:768px)
        {
            font-size: 27px;
            margin: 15px 0 10px 0;
        }
    }

    &__input {
        width: 75%;
        height: 2rem;
        border: 1px solid lightgray;
        margin: 10px auto;
        font-size: 15px;
        font-weight: 300;
        padding-left: 10px;
        font-family: 'Roboto Condensed', sans-serif;
        background-color: #F9F7F9;
        color: gray;
        border-radius: 4px; 
         
    }
    & textarea{
        width: 76%;
        height: 3.5rem;
        border: 1px solid lightgray;
        margin: 10px auto;
        padding: 10px 0 0 10px;
        font-family: 'Roboto Condensed', sans-serif;
        background-color: #F9F7F9;
        font-size: 15px;
        font-weight: 300;
        color: gray; 
        border-radius: 4px;
    }
    & button{
        width: 70%;
        height: 2rem;
        background-color: rgb(95, 25, 164);
        color: white;
        font-size: 15px;
    }
}
.declaration__text{
    font-size: 11px;
    line-height: 10px;
    color: #c3c7c9;
    width: 60%;
    text-align: justify;
    margin-left: 26%;
    margin-top: -33px;
    font-weight: 200;
}
.declarations{
    position: relative;
    margin: 13px 0 0 0;
    box-sizing: border-box;
}
#declaracion{
    position: absolute;
    top: 35%;
    left: 15%;
}

input[type=checkbox] + label {


}

input[type=checkbox] {
  display: none;
  margin-left: -50px;
}

input[type=checkbox] + label:before {
  content: "\2714";
  border: 0.1em solid rgb(95, 25, 164);
  border-radius: 50%;
  display: inline-block;
  width: 19px;
  height: 16px;
  padding-bottom: 4px;
  margin-right: 65%;
  margin-bottom: 1%;
  color: transparent;
  transition: .2s;
}

input[type=checkbox] + label:active:before {
  transform: scale(0);
}

input[type=checkbox]:checked + label:before {
  background-color: rgb(95, 25, 164);
  border-color: rgb(95, 25, 164);
  color: #fff;
}

input[type=checkbox]:disabled + label:before {
  transform: scale(1);
  border-color: #aaa;
}

input[type=checkbox]:checked:disabled + label:before {
  transform: scale(1);
  background-color: rgb(95, 25, 164);
  border-color: rgb(95, 25, 164);
}
