.main{
    overflow: hidden;
    &__intro{
        background-image: linear-gradient(to bottom, #1904b4, #6a15c6,
         #9f2dd8, #cf46e9, #fc61fa);
        width: 100%;
        height: 100%;
        display: block;
        padding-bottom: 72px;
        color: white;
        @media screen and (min-width:400px){
            padding-bottom: 70px;
        }
        @media screen and (min-width:535px){
            padding-bottom: 56px;
        }
        @media screen and (min-width:768px){
            padding-bottom: 43px;
        }
        @media screen and (min-width:1024px){
            padding-bottom: 25px;
        }
        
        .intro{

            &__text{
                font-size: 23px;
                font-weight: 300;
                padding-top: 40px;
                text-transform: uppercase;
                line-height: 28px;
                @media screen and(min-width:768px){
                    font-size: 40px;
                    line-height: 50px;
                }
            }
            &__span-1{
                font-size: 38px;
                font-weight: 400;
                @media screen and (min-width:768px){
                    font-size: 67px;
                }

            }
            &__span-2{
                font-size: 29px;
                @media screen and (min-width:768px){
                    font-size: 50px;
                }

            }
            &__question{
                font-size: 19px;
                margin-top: 10px;
                letter-spacing: .5px;
                font-weight: 300;
                @media screen and (min-width:768px){
                    font-size: 35px;
                    margin-top: 20px;
                }

            }
        }

        & img{
            width: 100%;
            margin-top: 10px; 
            @media screen and (min-width:768px){
                margin-top: 40px;
            }
        }
    }
    &__form{
        margin-top: -105px;
    }
    &__info{
        margin-bottom: 40px;
        @media screen and (min-width:768px){
            margin: 50px 0;
        }
        .info{

            &__logo{
                width: 40%;
                margin: 30px auto 20px;

                @media screen and (min-width:535px){
                    width: 35%;
                }

                @media screen and (min-width:768px){
                    width: 30%;
                    margin: 35px auto 25px;
                }
            }
            &__logo img{
                width: 100%;
            }
            &__network{
                margin: 10px auto;
                color:#db291b;
                width: 33px;
                height: 25px;
                padding-top: 7px;
                border: 2px solid #db291b;
                border-radius:50%;
                @media screen and (min-width:768px){
                    width: 55px;
                    height: 40px;
                    padding-top: 12px;
                    font-size: 25px;
                }
            }
            &__phones{
                margin :15px auto;
                color: #db291b;
                font-size: 20px;
                font-weight: 300;
                letter-spacing: 1px;
                @media screen and (min-width:768px){
                    font-size: 27px;
                }
            }
            &__copy{
                color:#a7a7a2;
                margin :10px auto;
                @media screen and (min-width:768px){
                    font-size: 25px;
                }
            }
        }
    }
}