.main{
    overflow: hidden;
    &__intro{
        background-image: linear-gradient(to bottom, #1904b4, #6a15c6,
         #9f2dd8, #cf46e9, #fc61fa);
        width: 100%;
        height: 100%;
        display: block;
        padding-bottom: 75px;
        color: white;
        .intro{

            &__text{
                font-size: 23px;
                font-weight: 300;
                padding-top: 40px;
                text-transform: uppercase;
                line-height: 28px;
            }
            &__span-1{
                font-size: 38px;
                font-weight: 400;
            }
            &__span-2{
                font-size: 29px;
            }
            &__question{
                font-size: 19px;
                margin-top: 10px;
                letter-spacing: .5px;
                font-weight: 300;
            }
        }

        & img{
            width: 100%;
            margin-top: 30px; 
        }
    }
    &__form{
        margin-top: -105px;
    }
    &__info{
        .info{
            &__logo{
                width:55%;
                margin: 25px auto;
            }
            &__logo img{
                width: 100%;
            }
            &__network{
                margin: 10px auto;
                color:#db291b;
                width: 33px;
                height: 25px;
                padding-top: 7px;
                border: 2px solid #db291b;
                border-radius:50%;
            }
            .social{
                
            }
            &__phones{
                margin :10px auto;
                color: #db291b;
                font-size: 20px;
            }
            &__copy{
                color:#a7a7a2;
                margin :10px auto;
            }
        }
    }
}