@import url(https://fonts.googleapis.com/css?family=Raleway:300,400,600);@import url(https://fonts.googleapis.com/css?family=Roboto+Condensed:100,200,300,400);* {
  margin: 0;
  padding: 0;
}

body {
  width: 100%;
  text-align: center;
  font-family: 'Roboto Condensed', sans-serif;
  -webkit-tap-highlight-color: transparent;
  -o-tap-highlight-color: transparent;
  -moz-tap-highlight-color: transparent;
}

.up {
  position: fixed;
  bottom: 65px;
  right: 10px;
  width: 45px;
  height: 45px;
  border-radius: 30px;
  background: rgba(101, 3, 181, 0.7);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  z-index: 3;
}

.up:active {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.up:hover {
  background-color: rgba(101, 3, 181, 0.7);
}

.up a {
  color: #fff;
}

@media screen and (min-width: 768px) {
  .up {
    bottom: 65px;
    right: 35px;
    width: 65px;
    height: 65px;
    border-radius: 35px;
    font-size: 25px;
  }
}

.form {
  position: relative;
  width: 85%;
  background-color: #fff;
  margin: 0 auto;
  border-radius: 7px;
  z-index: 2;
  padding: 0 0 30px 0;
  -webkit-box-shadow: -1px 2px 19px -2px rgba(0, 0, 0, 0.57);
  box-shadow: -1px 2px 19px -2px rgba(0, 0, 0, 0.57);
}

@media screen and (min-width: 1400px) {
  .form {
    width: 65%;
  }
}

.form__title {
  color: #5f19a4;
  padding: 15px 0 0 0;
}

@media screen and (min-width: 768px) {
  .form__title {
    font-size: 40px;
    padding-top: 30px;
  }
}

@media screen and (min-width: 1400px) {
  .form__title {
    font-size: 35px;
  }
}

.form__text {
  color: #5f19a4;
  margin-bottom: 10px;
  font-weight: 300;
}

@media screen and (min-width: 768px) {
  .form__text {
    font-size: 25px;
    margin: 15px 0 30px 0;
    line-height: 24px;
  }
}

@media screen and (min-width: 1400px) {
  .form__text {
    font-size: 26px;
    line-height: 25px;
  }
}

.form__input {
  width: 80%;
  height: 2rem;
  border: 1px solid lightgray;
  margin: 10px auto;
  font-size: 15px;
  font-weight: 300;
  padding-left: 10px;
  font-family: 'Roboto Condensed', sans-serif;
  background-color: #F9F7F9;
  color: gray;
  border-radius: 4px;
}

@media screen and (min-width: 768px) {
  .form__input {
    font-size: 19px;
    height: 3rem;
  }
}

@media screen and (min-width: 1400px) {
  .form__input {
    width: 95%;
    height: 2rem;
  }
}

.form textarea {
  width: 80%;
  height: 3.5rem;
  border: 1px solid lightgray;
  margin: 10px auto;
  padding: 10px 0 0 10px;
  font-family: 'Roboto Condensed', sans-serif;
  background-color: #F9F7F9;
  font-size: 15px;
  font-weight: 300;
  color: gray;
  border-radius: 4px;
}

@media screen and (min-width: 768px) {
  .form textarea {
    font-size: 19px;
    height: 4.5rem;
  }
}

@media screen and (min-width: 1400px) {
  .form textarea {
    width: 95%;
    height: 3rem;
  }
}

.form button {
  width: 70%;
  height: 2rem;
  background-color: #5f19a4;
  border-radius: 4px;
  color: white;
  font-size: 15px;
}

@media screen and (min-width: 768px) {
  .form button {
    width: 75%;
    height: 3rem;
    font-size: 21px;
    border-radius: 7px;
  }
}

@media screen and (min-width: 1400px) {
  .form button {
    width: 70%;
    height: 3rem;
  }
}

.declaration__text {
  font-size: 12px;
  line-height: 10px;
  color: #c3c7c9;
  width: 85%;
  text-align: justify;
  margin-left: 16%;
  font-weight: 200;
}

@media screen and (min-width: 768px) {
  .declaration__text {
    width: 91%;
    font-size: 18px;
    line-height: 16px;
    margin-left: 10%;
    margin-top: -5px;
    margin-bottom: 20px;
  }
}

@media screen and (min-width: 1400px) {
  .declaration__text {
    width: 94%;
    margin-left: 6%;
  }
}

.box-declarations {
  position: relative;
  margin: 20px auto;
  width: 76%;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

@media screen and (min-width: 1400px) {
  .box-declarations {
    width: 92%;
  }
}

.declaration {
  position: relative;
}

.declaration label {
  cursor: pointer;
}

.declaration label:before,
.declaration label:after {
  content: '';
  position: absolute;
  top: 41%;
  border-radius: 50%;
}

@media screen and (min-width: 1400px) {
  .declaration label:before,
  .declaration label:after {
    top: 50%;
  }
}

.declaration label:before {
  left: 0;
  width: 26px;
  height: 26px;
  margin: -14px 0px 0 -7px;
  background: #f7f7f7;
  border: 2px solid #5f19a4;
  -ms-flex-line-pack: center;
      align-content: center;
}

@media screen and (min-width: 768px) {
  .declaration label:before {
    margin: -18px 0 0;
  }
}

.declaration label:after {
  left: 5px;
  width: 20px;
  height: 20px;
  margin: -9px 0px 0 -7px;
  opacity: 0;
  background: #5f19a4;
}

@media screen and (min-width: 768px) {
  .declaration label:after {
    margin: -13px 0 0;
  }
}

.declaration input[type="checkbox"] {
  position: absolute;
  top: 0;
  left: -9999px;
  visibility: hidden;
}

.declaration input[type="checkbox"]:checked + label:after {
  opacity: 1;
  -webkit-transition: all .5s;
  transition: all .5s;
}

.main {
  overflow: hidden;
}

.main__intro {
  background-image: -webkit-gradient(linear, left top, left bottom, from(#1904b4), color-stop(#6a15c6), color-stop(#9f2dd8), color-stop(#cf46e9), to(#fc61fa));
  background-image: linear-gradient(to bottom, #1904b4, #6a15c6, #9f2dd8, #cf46e9, #fc61fa);
  width: 100%;
  height: 100%;
  display: block;
  padding-bottom: 72px;
  color: white;
}

@media screen and (min-width: 400px) {
  .main__intro {
    padding-bottom: 65px;
  }
}

@media screen and (min-width: 535px) {
  .main__intro {
    padding-bottom: 56px;
  }
}

@media screen and (min-width: 768px) {
  .main__intro {
    padding-bottom: 43px;
  }
}

@media screen and (min-width: 1024px) {
  .main__intro {
    padding-bottom: 25px;
  }
}

@media screen and (min-width: 1300px) {
  .main__intro {
    padding-bottom: 20px;
  }
}

@media screen and (min-width: 1400px) {
  .main__intro {
    padding-bottom: 40px;
    height: 70%;
  }
}

.main__intro .intro__text {
  font-size: 23px;
  font-weight: 300;
  padding-top: 40px;
  text-transform: uppercase;
  line-height: 28px;
}

@media screen and (min-width: 768px) {
  .main__intro .intro__text {
    font-size: 40px;
    line-height: 50px;
  }
}

@media screen and (min-width: 1400px) {
  .main__intro .intro__text {
    font-size: 30px;
    line-height: 40px;
  }
}

.main__intro .intro__span-1 {
  font-size: 38px;
  font-weight: 400;
}

@media screen and (min-width: 768px) {
  .main__intro .intro__span-1 {
    font-size: 67px;
  }
}

@media screen and (min-width: 1400px) {
  .main__intro .intro__span-1 {
    font-size: 50px;
  }
}

.main__intro .intro__span-2 {
  font-size: 29px;
}

@media screen and (min-width: 768px) {
  .main__intro .intro__span-2 {
    font-size: 50px;
  }
}

@media screen and (min-width: 1400px) {
  .main__intro .intro__span-2 {
    font-size: 38px;
  }
}

.main__intro .intro__question {
  font-size: 19px;
  margin-top: 10px;
  letter-spacing: .5px;
  font-weight: 300;
}

@media screen and (min-width: 768px) {
  .main__intro .intro__question {
    font-size: 35px;
    margin-top: 20px;
  }
}

@media screen and (min-width: 1400px) {
  .main__intro .intro__question {
    font-size: 28px;
  }
}

.main__intro img {
  width: 100%;
  margin-top: 10px;
}

@media screen and (min-width: 768px) {
  .main__intro img {
    margin-top: 40px;
  }
}

@media screen and (min-width: 1300px) {
  .main__intro img {
    width: 65%;
  }
}

@media screen and (min-width: 1400px) {
  .main__intro img {
    width: 40%;
  }
}

.main__form {
  margin-top: -105px;
}

.main__info {
  margin-bottom: 40px;
}

@media screen and (min-width: 768px) {
  .main__info {
    margin: 50px 0;
  }
}

.main__info .info__logo {
  width: 40%;
  margin: 30px auto 20px;
}

@media screen and (min-width: 400px) {
  .main__info .info__logo {
    width: 27%;
  }
}

@media screen and (min-width: 535px) {
  .main__info .info__logo {
    width: 35%;
  }
}

@media screen and (min-width: 768px) {
  .main__info .info__logo {
    width: 30%;
    margin: 35px auto 25px;
  }
}

@media screen and (min-width: 1400px) {
  .main__info .info__logo {
    width: 10%;
    margin: 25px auto 20px;
  }
}

.main__info .info__logo img {
  width: 100%;
}

.main__info .info__network {
  margin: 10px auto;
  color: #db291b;
  width: 33px;
  height: 25px;
  padding-top: 7px;
  border: 2px solid #db291b;
  border-radius: 50%;
}

@media screen and (min-width: 768px) {
  .main__info .info__network {
    width: 55px;
    height: 40px;
    padding-top: 12px;
    font-size: 25px;
  }
}

.main__info .info__phones {
  margin: 15px auto;
  color: #db291b;
  font-size: 20px;
  font-weight: 300;
  letter-spacing: 1px;
}

@media screen and (min-width: 768px) {
  .main__info .info__phones {
    font-size: 27px;
  }
}

.main__info .info__copy {
  color: #a7a7a2;
  margin: 10px auto;
}

@media screen and (min-width: 768px) {
  .main__info .info__copy {
    font-size: 25px;
  }
}

