@import url(https://fonts.googleapis.com/css?family=Raleway:300,400,600);@import url(https://fonts.googleapis.com/css?family=Roboto+Condensed:100,200,300,400);* {
  margin: 0;
}

body {
  width: 100%;
  text-align: center;
  font-family: 'Roboto Condensed', sans-serif;
}

.up {
  position: fixed;
  bottom: 20px;
  right: 10px;
  width: 45px;
  height: 45px;
  border-radius: 30px;
  background: rgba(101, 3, 181, 0.7);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  z-index: 3;
}

.up:active {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.up:hover {
  background-color: #c47ffc;
}

.up a {
  color: #fff;
}

.form {
  position: relative;
  width: 85%;
  background-color: #fff;
  margin: 0 auto;
  border-radius: 7px;
  z-index: 2;
  padding-top: 15px 0;
}

.form__title {
  color: #5f19a4;
  padding: 15px 0 0 0;
}

.form__text {
  color: #5f19a4;
  margin-bottom: 10px;
}

.form__input {
  width: 70%;
  height: 2rem;
  border: 1px solid lightgray;
  margin: 10px auto;
  padding-left: 10px;
  font-family: 'Roboto Condensed', sans-serif;
  background-color: #F9F7F9;
  color: #C6C4C6;
}

.form textarea {
  width: 70%;
  height: 3.5rem;
  border: 1px solid lightgray;
  margin: 10px auto;
  padding: 10px 0 0 10px;
  font-family: 'Roboto Condensed', sans-serif;
  background-color: #F9F7F9;
}

.form button {
  width: 70%;
  height: 2rem;
  background-color: #5f19a4;
  color: white;
}

input[type='checkbox'] {
  text-align: justify;
}

.declaration__text {
  font-size: 12px;
  color: #c3c7c9;
}

.main {
  overflow: hidden;
}

.main__intro {
  background-image: -webkit-gradient(linear, left top, left bottom, from(#1904b4), color-stop(#6a15c6), color-stop(#9f2dd8), color-stop(#cf46e9), to(#fc61fa));
  background-image: linear-gradient(to bottom, #1904b4, #6a15c6, #9f2dd8, #cf46e9, #fc61fa);
  width: 100%;
  height: 100%;
  display: block;
  padding-bottom: 75px;
  color: white;
}

.main__intro .intro__text {
  font-size: 23px;
  font-weight: 300;
  padding-top: 40px;
  text-transform: uppercase;
  line-height: 28px;
}

.main__intro .intro__span-1 {
  font-size: 38px;
  font-weight: 400;
}

.main__intro .intro__span-2 {
  font-size: 29px;
}

.main__intro .intro__question {
  font-size: 19px;
  margin-top: 10px;
  letter-spacing: .5px;
  font-weight: 300;
}

.main__intro img {
  width: 100%;
  margin-top: 30px;
}

.main__form {
  margin-top: -105px;
}

